@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa:500|Sacramento&display=swap');

$cdablue: #0474BA;
$cdaorange: #FF9616;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);
$danger: hsl(348, 100%, 23%);

$family-sans-serif: "Comfortaa", "Google Sans", sans-serif;
$primary: $cdablue;
$link: $cdablue;
$code: $white;
$code-background: $black;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: whitesmoke;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.highlighted {
    background-color: lightgreen;
}
.highlighted-error {
    background-color: #ff5E5E;
}
.highlight-whitesmoke {
    background-color: whitesmoke;
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
